  <!-- Nav tabs -->

  <div class="container-fluid" style="height: 100vh;" #container>
    <ul class="nav nav-tabs" role="tablist" style="padding: 20px;">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
      </li>
    </ul>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
